<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> </meta>
    <title>Insert title test/index.html here</title>
</head>

<body>
 <div>
    <h1>This is test/index.html page</h1>
    <img src="/resource/456.jpg">
</div>    
  
</body>

<script type="text/javascript" th:inline="javascript">

    window.onload=function(){
	console.log("common jquery function excuted ");
  
    var request = new XMLHttpRequest();
    request.open('POST', 'http://13.124.185.51:8080/api/v1/plan/213/ghg/ls/xls', true);

    request.setRequestHeader('Content-Type', 'application/json');
    request.setRequestHeader('Accept', 'application/json');
    request.setRequestHeader('jwt-header', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlIjoiSVVTUiIsImlzcyI6InNlYmFuZyIsImlkIjoidGlnZXIiLCJleHAiOjE1NzA1NDUzMzN9.USzDhvDN9pqgmwbIJX-O83xShjihpd_USPkzHbbPyvc');
    
    
    request.onload = function () {
        // Only handle status code 200
        if (request.status === 200) {

            alert("200")
        } else {

            alert('Download failed. try againg');
        }
        // some error handling should be done here...
    };
    var a ={};
    a.sEmpId="tiger";
    a.sEmpPwd="1234";
    request.send(JSON.stringify(a));
    };

</script>

</html>